.ckus_middle_page {

    .ckus_amount_in_word {
        top: 1.0in;
        left: 0.05in;
        width: 7in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
    }

    .ckus_signatures {
        top: 1.45in;
        left: 0.05in;
        width: 4in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
    }

    .ckus_payee_addr {
        top: 1.60in;
        left: 0.63in;
        line-height: 1.1em;
    }

}
